@media (max-width: 480px) {
    .Container{
      width: 480px; 
      margin: 0px; 
      overflow-x: hidden;
  }
    .Menu{
      display: grid;
      grid-template-columns: 60% 40%;
      width: 480px;
      height: 86px;
      flex-shrink: 0;
      color: rgba(24, 43, 90, 1);
      }
  
      .ViewBoard{
        color: rgba(24, 43, 90, 1); 
        width: 100%; 
        height: 300px;
        overflow: hidden;
        position: relative;
      }
  
      .PropertyType{
        background-color: rgba(24, 43, 90, 1);
        width: 480px; height: 258px;
        display: grid;
        grid-template-columns: 50% 50%;
        margin: 0%;
        overflow: hidden;
      }
  }